body{
    background-image: url('https://cdn.architecturendesign.net/wp-content/uploads/2014/08/creative-lamps-chandeliers-23.jpg');
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.login-page{
    width: 360px;
    padding: 10% 0 0;
    margin: auto;
}

.form{
    position: relative;
    z-index: 1;
    background: rgba(122, 131, 172, 0.8);
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 25px;
    text-align: center;
}

.form input{
    font-family: "Roboto", sans-serif;
    outline: 1;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.form button{
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    cursor: pointer;
}

.form button:hover,.form button:active{
    background: #43A047;
}

.form .message{
    margin: 15px 0 0;
    color: aliceblue;
    font-size: 12px;
}

.form span{
    text-transform: uppercase;
}

.form .message a{
    color: rgb(1, 255, 9);
    text-decoration: none;
}

.form .Register-form{
    display: none;
}
